<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 
    <div class="container">
        <div class="page-header">
 
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">About Us</div>
            <div class="panel-body">
                <p>With this project, I am trying to make easier to the runner around the world find races close to their position or just to the vacation place where they would like to run or whatever.
                If you are one of us, just welcome, this is your project.</p>
                <img src="/img/user_.png" alt="RunEz"">
            </div>
        </div>
 
        <hr>
 
        <% include footer %>
    </div>
    <!-- /container -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#about').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>